#!/usr/bin/env sh

watch_file nvim.nix npins/sources.json
watch_file nix/*.nix nix/**/*.nix

use flake

NOBBZ_VIM_DEV_ROOT=$(jj workspace root || git rev-parse --show-toplevel)/plugins/nobbz
export NOBBZ_VIM_DEV_ROOT
